# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
db-config.json
*.pyc
__pycache__/
.vscode/
.idea/
.venv/
.env
*.swp
.DS_Store
venv/

# avoid checkout credentials
config.json

# docs artifact
docs/site/
